<!DOCTYPE html>
<html>
<head>
  <title>ELearning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>
<% flash.each do |message_type,message| %>
<%= message %>
<% end %>

<div class="container">
    <%= render 'layouts/header' %>
    <section class="round">
      <%= yield %>
    </section>
      <%= render 'layouts/footer' %>
  </div>
</body>
</html>


